<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Nopackage" >

    <classes>
      <class name="com.hrms.testscripts.TC001LoginPage"/>
      <class name="com.hrms.testscripts.TC002AddAdress"/>
      <class name="com.hrms.testscripts.TC003EmployeeList"/>
      <class name="com.hrms.testscripts.TC004Leave"/>
      <class name="com.hrms.testscripts.TC005Benifts"/>
      <class name="com.hrms.testscripts.TC006Admin"/>
      
    </classes>
  </test>
</suite>
